.Carousel {
  margin-top: 24px;
}
@media (min-width: 640px) {
  .Carousel {
    margin-top: 32px;
  }
}
@media (min-width: 1200px) {
  .Carousel {
    margin-top: 56px;
  }
}
.Carousel__slider {
  height: 352px;
  max-width: 1440px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 640px) {
  .Carousel__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 19px;
    height: 221px;
  }
}
@media (min-width: 1200px) {
  .Carousel__slider {
    height: 432px;
    gap: 16px;
    margin: 0 auto;
  }
}
.Carousel__slider-button {
  display: none;
}
@media (min-width: 640px) {
  .Carousel__slider-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 340px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #b4bdc3;
    cursor: pointer;
  }
  .Carousel__slider-button:hover {
    border-color: #313237;
  }
}
@media (min-width: 1200px) {
  .Carousel__slider-button {
    height: 400px;
  }
}
.Carousel__slider-container {
  height: 320px;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 640px) {
  .Carousel__slider-container {
    height: 340px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .Carousel__slider-container {
    height: 400px;
  }
}
.Carousel__slider-list {
  height: 100%;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.Carousel__slider-item {
  height: 100%;
  width: 100%;
}
.Carousel__slider-image {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.Carousel__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}
.Carousel__dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Carousel__dots-item {
  width: 14px;
  height: 4px;
  background-color: #e2e6e9;
  border: none;
  cursor: pointer;
}

.banner-active {
  background-color: #313237;
}