* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
header,
footer,
main,
h1,
h2,
h3,
h4,
div,
p,
ol,
ul,
li,
a,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/Mont-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SemiBold";
  src: url("/fonts/Mont-SemiBold.otf") format("opentype");
}
.home-page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
  padding-inline: 16px;
}
@media (min-width: 640px) {
  .home-page__title {
    margin-top: 32px;
    padding-inline: 24px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
@media (min-width: 1200px) {
  .home-page__title {
    margin-top: 56px;
    padding-inline: 32px;
    max-width: 1200px;
    margin-inline: auto;
  }
}
.home-page__title--text {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;
  color: #313237;
}
@media (min-width: 640px) {
  .home-page__title--text {
    font-size: 48px;
    line-height: 56px;
  }
}