.slider__title {
  font-family: "Mont", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: #313237;
}

.swiper {
  padding-top: 100px;
  position: relative;
}
.swiper-slide img {
  height: 270px;
  width: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.swiper-button-prev {
  position: absolute;
  top: 50px;
  left: 93%;
}
.swiper-button-next {
  position: absolute;
  top: 50px;
  right: 0px;
}