@use '@best-practice/styles/variables' as *;
@import '../../styles/mixins.scss';

.categories {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    font-family: 'Bold', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 30.8px;
    color: $primary;
    margin-bottom: 24px;

    @include on-tablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -1%;
    }
  }

  .title_dark {
    color: $white;
  }

  &__items {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__item {
    grid-column: span 4;

    @include on-desktop {
      grid-column: span 8;
    }

    &_link {
      height: 288px;
      width: 100%;
      cursor: pointer;

      &-img {
        height: 288px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s;
      }

      &-img:hover {
        transform: scale(1.05);
      }
    }
  }

  &__info {
    margin-top: 24px;

    &--title {
      font-family: 'SemiBold', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 25.56px;
      color: $primary;
    }

    &--text {
      font-family: 'Regular', sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $secondary;
    }
  }
}

.container {
  padding-inline: 5px;

  @include on-tablet {
    padding-left: 10px;
  }

  @include on-desktop {
    padding-left: 32px;
    max-width: 1200px;
    margin-inline: auto;
  }
}
