* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

button {
	font: inherit;
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
