@use '@best-practice/styles/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background;
  color: $primary;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

@media screen and (width: $viewport-width-desktop) {
  main {
    padding: 0 32px;
  }
}

@media screen and (min-width: $viewport-width-tablet) {
  main {
    padding: 0 24px;
  }
}
