// colors light theme
$primary: #313237;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$hover: #fafbfc;
$background: #fafbfc;
$green: #27ae60;
$red: #eb5757;
$primary-search-color: #333;
$white: #ffffff;

// colors dark theme
$secondary-dark: #75767F;
$icons-dark: #4A4D58;
$elements-dark: #3B3E4A;
$surface2-dark: #323542;
$surface1-dark: #161827;
$black-dark: #0F1121;
$white-dark: #F1F2F9;
$acept-dark: #905BFF;

// device sizes
$viewport-width-mobile: 320px;
$viewport-width-tablet: 640px;
$viewport-width-desktop: 1200px;
$viewport-width-tvset: 2880px;

// transition-duration and transition-timing-function
$transition: 300ms ease-in-out;

// font sizes
$footer-height: 96px;