* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Mont-Bold', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #fff;
  border-bottom: 1px solid #e2e6e9;
  height: 64px;

  &__nav {
    display: flex;
    gap: 48px;
    margin-left: 24px;
  }

  &__icons {
    display: flex;
    align-items: center;
    position: relative;
    gap: 48px;
    margin-right: 24px;
  }
}

.icon {
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 66px;
    right: 40px;
    background-color: #e2e6e9;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    gap: 64px;
  }

  &__link {
    position: relative;
    text-align: center;
    color: #89939A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      bottom: -24px;
      left: 0;
      border-radius: 3px;
      background: #313237;
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      color: #313237;
    }
    
    &:hover::after {
      width: 100%;
    }
    
  }
  
}

.icon-burger {
  display: none;
}

.bottom__menu {
  display: none;
}

.bottom__wrap {
  display: flex;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #e2e6e9;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 16px 0;
  border: none;
  background: none;
  cursor: pointer;

  & img {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #313237;
    transition: width 0.3s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .header {
    height: 48px;

    &__nav {
     gap: 32px;
    }

    &__icons {
      gap: 32px;
      margin-right: 16px;
    }
  }
  .nav__list {
    gap: 32px;
  }

  .nav__link::after {
    bottom: -9px;
  }

  .icon::before {
    height: 48px;
    right: 32px;
  }
}

@media (max-width: 640px) {
  .header {
    height: 48px;
  }

  .icon-burger {
    display: block;
  }

  .icon-cart,
  .icon-favourites {
    display: none;
  }

  .icon::before {
    height: 48px;
    right: 42px;
    top: -12px;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
  
    &__link::after {
      height: 3px;
      bottom: -4px;
    }

    &.open {
      display: flex;
      align-items: center;
      height: 260px;
    }
  }

  .bottom__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: -860px;
    border-top: 1px solid #e2e6e9;
    background-color: #fff;
  }
}
