@use '@best-practice/styles/variables' as *;

.cart__item {
	height: 128px;
	display: flex;
	align-items: center;
	border-radius: 1px;
	padding: 16px;
	margin: 16px;
	gap: 31px;
	font-family: 'Mont-Regular', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;

  &.light {
    color: $primary;
    background-color: $white;
    border: 1px solid $elements;
  }

  &.dark {
    color: $white-dark;
    background-color: $surface1-dark;
  }

	&__image {
		height: 88px;

		@media (max-width: 639px) {
			margin-left: 18px;
		}
	}

	&__description {
		flex: 1;
		margin: 0 16px;

		&__title {
			text-decoration: none;
			
      .light & {
        color: $primary;
      }

      .dark & {
        color: $white-dark;
      }
		}

		@media (max-width: 639px) {
			margin-left: 40px;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		margin-right: 24px;

		&__counter {
			display: flex;
			align-items: center;
			border-radius: 1px;
			margin-right: 48px;
			gap: 16px;

			&__button {
        padding: 6px;
        cursor: pointer;
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        .light & {
          background-color: $white;
          &:hover {
            border: 1px solid $primary;
          }
        }

        .dark & {
          &:hover {
            background-color: $icons-dark;
          }
        }
      }

			&__button_minus {
        .light & {
          border: 1px solid $elements;
        }
        
        .dark & {
          background-color: $surface1-dark;
          border: 1px solid $elements-dark;
        }
      }

      &__button_plus {
        .light & {
          border: 1px solid $icons;
        }
        
        .dark & {
          background-color: $surface2-dark;
          border: none;
        }
			}
		}

		&__price {
			font-family: 'Mont-Bold', sans-serif;
			font-size: 22px;
			font-weight: 800;
			line-height: 30.8px;
		}
	}

	&__icon__close {
		margin-left: 24px;
    border: none;
    transition: transform $transition;

    &:hover {
      transform: scale(1.4);
    }
    
    .light & {
      background-color: $white;
    }

    .dark & {
      background-color: $surface1-dark;
    }
	}

	@media (max-width: 639px) {
		flex-wrap: wrap;
		gap: 0;
	}
}
