.cart__item {
	height: 128px;
	display: flex;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 1px;
	padding: 16px;
	gap: 31px;
	font-family: 'Mont-Regular', sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 21px;
	color: #313237;

	&__image {
		width: 88px;
		height: 88px;

		@media (max-width: 639px) {
			margin-left: 18px;
		}
	}

	&__description {
		flex: 1;
		margin: 0 16px;

		&__title {
			text-decoration: none;
			color: #313237;
		}
	    
		@media (max-width: 639px) {
			margin-left: 40px;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		margin-right: 24px;

		&__counter {
			display: flex;
			align-items: center;
			border-radius: 1px;
			margin-right: 48px;
			gap: 16px;

			&__button {
				background-color: #ffffff;
				border: 1px solid #ccc;
				padding: 6px;
				cursor: pointer;
				height: 32px;
				width: 32px;
				color: #313237;

				&--minus{
					margin-bottom: 4px;
				}

				&:hover {
					border: 1px solid #000000;
				}
			}
		}
	}

	&__price {
		font-family: 'Mont-Bold', sans-serif;
		font-size: 22px;
		font-weight: 800;
		line-height: 30.8px;
	}
	&__close {
		margin-left: 24px;
	}

	@media (max-width: 639px) {
		flex-wrap: wrap;
		gap: 0;
	}
}
