.title {
  font-family: 'Mont-Bold', sans-serif;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.4;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #313237;
}
