@use '@best-practice/styles/variables' as *;
@use '@best-practice/styles/fonts.scss' as font;

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 56px;

  &__title {
    @include font.m-h3;
    height: 42px;
    border-bottom: 2px solid $elements;
  }
}

.declaration {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    @include font.m-h4;
  }

  &__text {
    @include font.dt-body-text;
    color: $secondary;
  }
}

@media (min-width: $viewport-width-tablet) {
  .section {
    &__title {
      @include font.dt-h3;
      height: 47px;
    }
  }

  .declaration {
    &__title {
      @include font.dt-h4;
    }
  }
}

@media (min-width: $viewport-width-desktop) {
  .section {
    width: calc(50% - 32px);
  }
}
