@use '@best-practice/styles/variables' as *;
@use '../../styles/mixins.scss' as mixins;

.Carousel {
  margin-top: 24px;
  z-index: 1;

  @include mixins.on-tablet {
    margin-top: 32px;
  }

  @include mixins.on-desktop {
    margin-top: 56px;
  }

  &__slider {
    height: 352px;
    max-width: 1200px;

    @include mixins.on-tablet {
      display: flex;
      gap: 19px;
      height: 221px;
      // padding-left: 24px; // commented by VS
    }

    @include mixins.on-desktop {
      height: 432px;
      gap: 16px;
      margin: 0 auto;
    }

    &-button {
      display: none;

      @include mixins.on-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 189px;
        width: 32px;
        background-color: $white;
        border: 1px solid $icons;
        cursor: pointer;

        &:hover {
          border-color: $primary;
        }
      }

      @include mixins.on-desktop {
        height: 400px;
      }
    }

    &-container {
      height: 320px;
      width: 100%;
      overflow: hidden;

      @include mixins.on-tablet {
        height: 189px;
      }

      @include mixins.on-desktop {
        height: 400px;
      }
    }

    &-list {
      height: 100%;
      width: 400%;
      display: flex;
      transition: transform 1s;
    }

    &-item {
      height: 100%;
      width: 100%;
    }

    &-video,
    &-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__dots {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 8px;

    &-container {
      display: flex;
      width: 24px;
      height: 24px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
    }

    &-item {
      width: 14px;
      height: 4px;
      background-color: $elements;
      border: none;
      cursor: pointer;
    }
  }
}

.banner-active {
  background-color: $primary;
}
