@use '@best-practice/styles/variables' as *;
@use '@best-practice/styles/mixins.scss' as mixins;

.homePage {
  &__title {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding-inline: 16px;

    @include mixins.on-tablet {
      margin-top: 32px;
      padding-inline: 24px;
      justify-content: left;
    }

    @include mixins.on-desktop {
      margin-top: 56px;
      padding-inline: 32px;
      max-width: 1200px;
      margin-inline: auto;
    }
  }
}

.title__text {
  font-family: 'Bold', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -1%;
  color: $primary;

  @include mixins.on-tablet {
    font-size: 48px;
    line-height: 56px;
  }
}
