@use '@best-practice/styles/variables' as *;

.menu {
  width: 100%;
  position: absolute;
  top: 48px;
  height: calc(100vh - 48px);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.light {
    border-top: 3px solid $elements;
    background-color: $white;
  }
  
  &.dark {
    border-top: 3px solid $elements-dark;
    background-color: $black-dark;
  }

  &__pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
  }

  &__link {
    position: relative;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;

    .light & {
      color: $secondary;
    }
    
    .dark & {
      color: $secondary-dark;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      bottom: 2px;
      left: 0;
      border-radius: 3px;
      transition: $transition;
      transition-property: width;

      .light & {
        background: $primary;
      }
      
      .dark & {
        background: $white-dark
      }
    }

    &:hover {
      .light & {
        color: $primary;
      }
      
      .dark & {
        color: $white-dark;
      }
    }

    &:hover::after {
      width: 100%;
    }

    &_active {
      .light & {
        color: $primary;
      }
      
      .dark & {
        color: $white-dark;
      }

      &::after {
        width: 100%;
        background: $primary;
      }
    }
  }

  &__chosen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: calc(100vw / 2);

      .light & {
        border-top: 3px solid $elements;
      }

      .dark & {
        border-top: 3px solid $elements-dark;
      }
      
      &:first-child {        
        .light & {
          border-right: 3px solid $elements;
        }
  
        .dark & {
          border-right: 3px solid $elements-dark;
        }
      }
    }

    &__icon {
      width: 18px;
      height: 18px;
    }
  }
}
